<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHARRGARBL</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="js/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    
    <div class="container-fluid">
      <div class="masthead">
        <div class="row">
          <div class="col-md-9 pull-left">
            <img src="img/ecobee_icon.svg" class="logo"/>
          </div>
          <div class="col-md-1 text-right">
            <a href="/" class="navitem"><p class="vcenter">Support</p></a>
          </div>
          <div class="col-md-1 text-right">
            <a href="/" class="navitem"><p class="vcenter">Contact Us</p></a>
          </div>
          <div class="col-md-1">
            <a href="/" class="pull-right">
              <img src="img/menu_icon.svg" class="menu"/>
            </a>
          </div>
        </div> 
      </div>

      <div id="main-content" class="hidden">
{% block maincontent %}{% endblock %}
      </div>
    </div>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#main-content').fadeIn().removeClass('hidden');
    });
    </script>
{% block scripts %}
{% endblock %}
  </body>
</html>

