{% extends "base.html" %}

{% block maincontent %}
<div clas="row">
  <div class="col-md-4 jumbotron text-center">
    <p>jumbo 1</p>
  </div>
  <div class="col-md-4 jumbotron text-center">
    <p>jumbo 2</p>
  </div>
  <div class="col-md-4 jumbotron text-center">
    <p>jumbo 3</p>
  </div>
</div>
<div clas="row">
  <div class="col-md-4 jumbotron text-center" id="realtime">
    <p>Dolby Life Sensor</p>
  </div>
  <div class="col-md-4 jumbotron text-center">
    <p>jumbo 5</p>
  </div>
  <div class="col-md-4 jumbotron text-center">
    <p>jumbo 6</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$("#realtime").click(function(){
  window.location.href='/realtime';
});
</script>
{% endblock %}