{% extends "base.html" %}
{% block maincontent %}
<div class="jumbotron" id="loudplot">
  <div class="row">
    <div class="col-md-12">
      <p id="louddisplay"></p>
      <p id="louddisplaylist"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <canvas id="smoothie-chart" width="1268" height="507">
    </div>
  </div>
</div>

<div class="jumbotron hidden" id="fftplot">
  <div class="row">
    <div class="col-md-12">
      <p id="fftdisplay"></p>
      <p id="fftdisplaylist"></p>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-12 text-center"> -->
      <div id="fft-chart" style="width:640px; height: 480px;"></div>
    <!-- </div> -->
  </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-success btn-info" id="switchview">View FFT</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="js/socket.io.js"></script>
<script src="js/smoothie.js"></script>
<script src="js/canvasjs.min.js"></script>
<script src="js/loudness.js"></script>
{% endblock %}