body {
    background: #0E1113;/*rgba(0, 0, 0, 1);*/
    color: #FFFFFF; 
}

.masthead {
    padding-top: 20px;
    padding-bottom: 15px;
}

.jumbotron {
    background-color: #2C3134;/*rgba(100, 100, 100, 0.7);*/
    height: 360px;
}

.logo {
    width:5.8%;
}

.menu {
    background: url('../img/menu_icon.svg');
    /*background-image: url('../img/menu_icon.svg');*/
}

.vcenter {
    padding-top: 6px;
    font-size: 1.2em;
}

.navitem {
    color: #FFFFFF;
    text-decoration: none;
}
.navitem:hover {
    color: #DDDDDD;
    text-decoration: none;
}
.navitem:active {
    text-decoration: none;
}
.navitem:visited {
    text-decoration: none;
}

#loudplot {
    height:640px;
}

#fftplot {
    height:640px;
}

.gridbox {
    margin-top: 18px;
    /*background-color: #0E1113;*/
}

/*.gridcolumn {
    margin-right: 30px;
}*/

.cornertl {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.cornertr {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.cornerbl {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.cornerbr {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

#map-canvas {
    margin-top: 60px;
    margin-left: 60px;
    width: 1280px;
    height: 640px;
/*    height: 480px;
    height: 100%;
    margin: 0px;
    padding: 0px*/
}